
.articulo-container {
    width: 70vw;
    margin: 0 auto;
    padding: 20px;
    color: #1a1a1a;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

.articulo-imagen {
    width: 45%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 8px;
}

.articulo-contenido {
    width: 50%;
    font-size: 16px;
    text-align: start;
}



.articulo-titulo {
    font-size: clamp(24px, 5vw, 48px);
    font-weight: bold;
    margin-bottom: 10px;
    color: #1a1a1a;
    line-height: 3rem;
    margin: 15px auto;
}

.articulo-meta {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.articulo-contenido p {
    margin-bottom: 15px;
}

.articulo-descripcion {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.imagen-producto {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.Butss{
    border: #1a1a1a 2px solid;
    padding: 0px 15px;
    border-radius: 3px;
    margin-left: 3px;
}

.button-buy{
    background-color: transparent; /* Quita el fondo */
    border: none;                 /* Quita el borde */
    padding: 0;                   /* Quita el espacio interno */
    margin: 0;                    /* Quita el margen */
    outline: none;                /* Quita el borde al hacer foco */
    cursor: pointer;              /* Opcional: para indicar que es clickeable */
    font-family: inherit;         /* Hereda la fuente del padre */
    color: inherit;

    width: 100%;
    padding: 8px 0px;
    background-color: #29A71A;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 6px;
    transition: all 0.2s ease;
}

.button-buy:hover{
    background-color: #1d7913;
}

.articulo-categorias{
    display: flex;
    gap: 1rem;
}

.categoria-badge{
    background-color: #202120;
    color: white;
    padding: 4px 20px;
    border-radius: 5px;
}











/* Responsivo */
@media screen and (max-width: 600px) {
    .articulo-container {
        width: 98vw;
        padding: 0px;
    }
    .articulo-imagen {
        width: 90vw;
        margin-bottom: 20px;
        margin-inline: auto;
    }
    .articulo-contenido {
        margin-inline: auto;
        width: 90vw;
    }
    .articulo-titulo {
        font-size: 28px;
    }

    .articulo-meta {
        font-size: 12px;
    }

}













